/* style.css */

:root {
    --section-spacing: 2.5rem;
    /* Space between sections */
    --color-accent: #9b3030;
    --section-separator: 1px solid var(--color-accent);
    /* Line to separate sections */
    --menu-section-separator: 4px solid var(--color-accent);
  } 
  
  body {
    font-family: Arial, sans-serif;
    /* background-color: #f8e7e7; */
    padding: 20px;
    background: linear-gradient(135deg, #ebbd88 0%, #3f290e 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: var(--menu-section-separator);
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }
  
  .logo img {
    width: 132px;
  }
  
  .logo-name {
    text-decoration: none;
    color: #6F5353;
    font-family: Outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
  } 
  
  .page-link {
    display: flex;
    align-items: center;
    gap: 15px;
    /* margin-bottom: 10px; */
  }
  
  .links {
    color: #6F5353;
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-variant-caps: all-petite-caps;
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
    text-decoration: none;
    padding-right: 15px;
    border-right: 3px solid #6F5353;
  }

  .brand-guide {
    max-width: 800px;
    margin: 0 auto;
    background-color: #7ba885;
    padding: 20px;
    border: 5px solid #9b3030;
    /* box-shadow:10px 2px #b2e0bf; */
    border-radius: 10px;
  }
  
  h1 {
    font-family: Garamond, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
  }
  
  h2 {
    font-family: Garamond, sans-serif;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    max-width: 800px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .our-brand img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .our-logo img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .our-brand-voice img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }
  
  .our-color-palette img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .our-brand-archetypes img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .our-image img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .our-typography img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .our-brand-value img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .our-brand-personality img {
    margin-top: 10px;
    width: 800px;
    align-items: center;
  }

  .brand guide div {
    margin-bottom: var(--section-spacing);
    /* Add space below each section */
    padding-bottom: var(--section-spacing);
    /* Add padding at the bottom of each section */
    border-bottom: var(--section-separator);
    /* Add a line below each section */
  }