/* main.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
    background-color: #f5d6b3;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f59309;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }
  
  .logo img {
    width: 132px;
  }
  
  .logo-name {
    text-decoration: none;
    color: #6F5353;
    font-family: Outfit;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
  } 

  .page-link {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }

  .links {
    color: #6F5353;
    font-family: Outfit;
    font-size: 30px;
    font-style: normal;
    font-variant-caps: all-petite-caps;
    font-weight: 400;
    line-height: 27.5px;
    text-transform: capitalize;
    text-decoration: none;
    padding-right: 15px;
    border-right: 3px solid #6F5353;
  }
  
.snapshot {
    /* background-color: skyblue; */
    display: inline-block;

}

.snapshot img {
  margin-right: 10px;
  width: 500px;
  height: 300px;
}
.snapshot img:hover {
    opacity: .5;
}