/* marketing_strategies.css */

:root {
  --section-spacing: 2.5rem;
  /* Space between sections */
  --color-accent: #ca4a4a;
  --section-separator: 1px solid var(--color-accent);
  /* Line to separate sections */
  --menu-section-separator: 4px solid var(--color-accent);
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(137deg, #ebbd88 0%, #3f290e 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #7dd690;
  border: 5px solid #ca4a4a;
  border-radius: 10px;
}

h1 {
  font-family: Garamond, serif;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
}

h3 {
  font-family: Garamond, serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
